###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=
APP_SHARE_DIR=var/share
APP_DEBUG=0
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

#1. Указать SMTP сервер
MAILER_DSN=""
#2. От кого придет письмо
MAILER_FROM=no-reply@mysite.local
#3. Email владельца
MAILER_TO=owner@mysite.local

#Максимальное количество запросов
RATELIMIT_LIMIT_REQUESTS=5
#За этот промежуток в секундах
RATELIMIT_TIMEOUT_SECONDS=60

#4. Указать токен авторизации
AI_API_KEY=""
#5. Указать корень API, код сам добавляет /v1/chat/completions
AI_ENDPOINT="http://192.168.0.107:8000"
#6. Указать название модели
AI_MODEL=""